/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:not(input):not(textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

/* mixins, variables, etc. */

$ChinchinRed: rgb(218,28,88);

$black: rgb(28,28,28);
$grayDark: rgb(48,48,48);
$grayLight: rgb(238,238,238);
$white: rgb(255,255,255);

$marginLarge: 30px;
$marginMid: 20px;
$marginSmall: 10px;
$marginTiny: 5px;

/* universal */

body {
  background: $white;
  color: $black;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 80%;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

h1 {
  color: $white;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  font-size: 1.18em;
  font-weight: bold;
}

a {
  color: $black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* navigation */

.stp-nav {
  background: $black;
  width: 256px;
}

nav {
  display: block;
}

nav > a {
  background: $black;
  color: $white;
  display: block;
  color: $grayLight;
  font-size: 1.8em;
  font-weight: bold;
  height: 68px;
  line-height: 68px;
  margin: 0;
  padding: 0 0 0 22px;
  text-decoration: none;
}

nav > a:after {
  display: block;
  height: 68px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  right: 0;
  top: 0;
  -webkit-background-size: 8px 17px;
  -moz-background-size: 8px 17px;
  -o-background-size: 8px 17px;
  background-size: 8px 17px;
}

nav > a.selected {
  background: $ChinchinRed;
  color: $white;
}

nav > a.selected:after {
  opacity: 1;
}

.stp-browse {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: image-url('icons/238-list.svg');
  background-size: 34px 34px;
}

.stp-feed {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: image-url('icons/238-feed.svg');
  background-size: 34px 34px;
}

.stp-likes {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: image-url('icons/238-heart.svg');
  background-size: 34px 34px;
}

.stp-hotfriends {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: image-url('icons/238-friends.svg');
  background-size: 34px 34px;
}

.stp-messages {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: image-url('icons/238-chat.svg');
  background-size: 34px 34px;
}

header {
  background: $grayDark;
  display: block;
  height: 44px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  text-align: center;
  width: 100%;
  z-index: 1;
}

header .header-button {
  top: 7px;
  left: 7px;
  width: 48px;
  height: 28px;
  background: $black;
  border: 1px solid rgb(0,0,0);
  color: white;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

header .header-button.menu span {
  background: transparent image-url('/assets/menu.png') no-repeat;
  height: 15px;
  margin: 6px 2px 0;
  width: 17px;
  -webkit-background-size: 17px 15px;
  -moz-background-size: 17px 15px;
  -o-background-size: 17px 15px;
  background-size: 17px 15px;
  display: inline-block;
  text-indent: -9999px;
}

header .icon span {
  top: 10px;
  position: absolute;
  text-indent: -9999px;
}

header .right span {
  left: auto;
  right: 20px;
}

header .back span {
  background: image-url('icons/255-back.svg');
  left: 10px;
  width: 27px;
  height: 24px;
  background-size: 27px 24px;
  -webkit-background-size: 27px 24px;
  -moz-background-size: 27px 24px;
  -o-background-size: 27px 24px;
}

header .refresh span {
  background: image-url('icons/238-refresh.svg');
  width: 26px;
  height: 24px;
  background-size: 26px 24px;
  -webkit-background-size: 26px 24px;
  -moz-background-size: 26px 24px;
  -o-background-size: 26px 24px;
}

header .like span {
  background: image-url('icons/255-heart.svg');
  width: 26px;
  height: 24px;
  background-size: 26px 24px;
  -webkit-background-size: 26px 24px;
  -moz-background-size: 26px 24px;
  -o-background-size: 26px 24px;
}

header .liked span {
  background: image-url('icons/255-heart-red.svg');
  width: 26px;
  height: 24px;
  background-size: 26px 24px;
  -webkit-background-size: 26px 24px;
  -moz-background-size: 26px 24px;
  -o-background-size: 26px 24px;
}

.stp-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.stp-content-panel {
}

/* container */

.container {
  padding-top: 44px;
}

.container-10px {
  /*float: left;*/
  padding: 10px 10px 0px 10px;
  height: 100%;
}

/* loaders */

div.loader { height: 100px; line-height: 100px; text-align:center; }

div.loader img { vertical-align:middle; }

/* login/register */

div#register h1 {
  margin: 28px 0;
  font-size: 4.8em;
  color: $grayDark;
}

div#register-info {
  float: left;
  clear: both;
}

div.register-description {
  height: 80px;
  clear: both;
}

div#register-browse-icon {
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 47px;
  position: relative;
  background: image-url('icons/48-friends.svg');
  background-size: 70px 47px;
  -webkit-background-size: 70px 47px;
  -moz-background-size: 70px 47px;
  -o-background-size: 70px 47px;
}

div#register-like-icon {
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 65px;
  position: relative;
  background: image-url('icons/48-heart.svg');
  background-size: 70px 65px;
  -webkit-background-size: 70px 65px;
  -moz-background-size: 70px 65px;
  -o-background-size: 70px 65px;
}

div#register-chat-icon {
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 69px;
  position: relative;
  background: image-url('icons/48-chat.svg');
  background-size: 70px 69px;
  -webkit-background-size: 70px 69px;
  -moz-background-size: 70px 69px;
  -o-background-size: 70px 69px;
}

a.cta-btn {
  float: left;
  margin-top: 18px;
  width: 100%;
  height: 48px;
  font-size: 2em;
  font-weight: bold;
  color: $white;
  text-align: center;
  line-height: 48px;
  background-color: $ChinchinRed;
  display: block;
}

/* profile click */

div.profile-click { }

/* photos */

div.photo-large {
  margin-bottom: -5px;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

div.photo-large img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.photo-mid {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: block;
}

div.photo-mid img {
  float: left;
  width: 150px;
  height: 180px;
  margin: -10px -15px 0 0;
  display: block;
}

div.photo-small {
  float: left;
  width: 54px;
  height: 54px;
  overflow: hidden;
  display: inline-block;
}

/* card */

div.card { 
  margin-top: -44px;
}

div.card-photo-count {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 300px;
  color: white;
  background: rgba(48,48,48, 0.48);
}

div.card-photo-count h2 {
  float: left;
}

div.card-photo-icon {
  float: right;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background: image-url('icons/255-camera.svg');
  background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
}

div.card-choose {
  float: left;
  padding: 10px;
  width: 100%;
  color: $white;
  background: $grayDark;
}

div.card-choose h2 {
  margin-bottom: 10px;
}

div.card-like {
  cursor: pointer;
}

div.card-pass {
  cursor: pointer;
}

div.card-choose p {
  float: left;
  margin-top: 10px;
}

div.card-like h1 {
  float: left;
  padding: 4px 0;
  width: 49%;
  text-align: center;
  background-color: $ChinchinRed;
}

div.card-pass h1 {
  float: right;
  padding: 4px 0;
  width: 49%;
  color: $grayDark;
  text-align: center;
  background-color: $grayLight;
}

/* row */

div.row { 
  margin-bottom: 10px;
  height: 120px;
  display: block;
}

div.row-content {
  float: left;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.row-content-info {
  float: left;
  padding: 5px 10px 10px 10px;
  height: 75px;
}

div.row-content-more {
  padding: 8px 0 8px 10px;
  clear: both;
}

div.row-photo-icon {
  float: left;
  margin-right: 5px;
  width: 17px;
  height: 17px;
  background: image-url('icons/48-camera.svg');
  background-size: 17px 17px;
  -webkit-background-size: 17px 17px;
  -moz-background-size: 17px 17px;
  -o-background-size: 17px 17px;
}

span.row-photo-count {
  float: left;
}

div.row-friend-icon {
  float: left;
  margin: 0 5px;
  width: 18px;
  height: 18px;
  background: image-url('icons/48-friends.svg');
  background-size: 18px 18px;
  -webkit-background-size: 18px 18px;
  -moz-background-size: 18px 18px;
  -o-background-size: 18px 18px;
}

span.row-friend-count {
  float: left;
  margin: 10px 10px;
}

/* row2 */

div.row2 {
  float: left;
  margin-bottom: 10px;
  clear: both;
}

div.row2-content {
  float: left;
  margin: 6px 0 0 10px;
  height: 42px;
  overflow: hidden;
}

div.row2-content-hot-friends {
  float: left;
  margin: 6px 0 0 10px;
  height: 42px;
  overflow: hidden;
}

div.row2-share {
  float: right;
  height: 54px;
  line-height: 54px;
}

div.row2-share a {
  padding: 8px 13px;
  background-color: $grayLight;
}

#chinchin_dialog_friends_list {
  margin-top: 10px;
  margin-bottom: 10px;
}

li.friend_row span {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.big-checkbox {
  -webkit-appearance: none;
  background-color: $white;
  border: 1px solid $grayDark;
  padding: 18px;
  display: inline-block;
  position: relative;
}

.big-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-checkbox:checked{
  border: 1px solid $grayDark;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: $ChinchinRed;
}

.big-checkbox:checked:after {
  content: '\2714';
  font-size: 2em;
  position: absolute;
  top: 0px;
  left: 6px;
  color: $ChinchinRed;
}

li.friend_row span.profile_photo {
  padding-left: 10px;
  padding-right: 10px;
}

li.friend_row span.friend_name {
  font-weight: bold;
  font-size: 1.3em;
}

div.friend_list {
  padding: 10px;
}

/* list */

div.list {
  float: left;
  margin-bottom: 10px;
  clear: both;
}

div.list img {
  float: left;
  margin-right: 10px;
  width: 34px;
  height: 34px;
}

div.list h2 {
  float: left;
  line-height: 34px;
}

/* profile tabs */

.tabs li {
  list-style: none;
  display: inline;
}

.tabs a {
  margin-right: -4px;
  padding-top: 14px;
  height: 35px;
  display: inline-block;
  background: $grayLight;
  color: $grayDark;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.tab-profile a {
  width: 33.3%;
}

.tab-photos a {
  width: 33.4%;
}

.tab-friends a {
  width: 33.3%;
}

.tabs a.active {
  background: $ChinchinRed;
  color: $white;
}

div.tab-profile-photo {
  float: left;
  margin: 2px 0 0 2px;
  width: 104px;
  height: 104px;
  overflow:hidden;
  display: block;
}

/* profile icons */

div.user-age-icon {
  float: left;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  background: image-url('icons/48-calendar.svg');
  background-size: 34px 34px;
}

div.user-location-icon {
  float: left;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  background: image-url('icons/48-pin.svg');
  background-size: 34px 34px;
}

div.user-employer-icon {
  float: left;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  background: image-url('icons/48-company.svg');
  background-size: 34px 34px;
}

div.user-school-icon {
  float: left;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  background: image-url('icons/48-book.svg');
  background-size: 34px 34px;
}

/* empty data */

div.empty-data {
  text-align: center;
  width: 100%;
}

div.empty-data h1 {
  color: $grayDark;
}

div.empty-data h2 a {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0px;
  font-size: 1.5em;
  color: $white;
  text-align: center;
  background-color: rgb(59,89,152); /* Facebook blue */
  display: block;
}

div.empty-data h2 a.close {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  font-size: 1.5em;
  color: $white;
  text-align: center;
  background-color: $ChinchinRed;
  display: block;
}

div.empty-chinchins-icon {
  margin: 30px auto 20px auto;
  width: 104px;
  height: 104px;
  position: relative;
  background: image-url('icons/48-friends.svg');
  background-size: 104px 104px;
  -webkit-background-size: 104px 104px;
  -moz-background-size: 104px 104px;
  -o-background-size: 104px 104px;
}

div.empty-views-icon {
  margin: 30px auto 20px auto;
  width: 104px;
  height: 104px;
  position: relative;
  background: image-url('icons/48-target.svg');
  background-size: 104px 104px;
  -webkit-background-size: 104px 104px;
  -moz-background-size: 104px 104px;
  -o-background-size: 104px 104px;
}

div.empty-likes-icon {
  margin: 30px auto 20px auto;
  width: 104px;
  height: 104px;
  position: relative;
  background: image-url('icons/48-heart.svg');
  background-size: 104px 104px;
  -webkit-background-size: 104px 104px;
  -moz-background-size: 104px 104px;
  -o-background-size: 104px 104px;
}

div.empty-messages-icon {
  margin: 30px auto 20px auto;
  width: 104px;
  height: 104px;
  position: relative;
  background: image-url('icons/48-chat.svg');
  background-size: 104px 104px;
  -webkit-background-size: 104px 104px;
  -moz-background-size: 104px 104px;
  -o-background-size: 104px 104px;
}

/* not yet organized */

div.clear {
  clear: both;
}

div.hot-user-photo {
  float: left;
  margin: 0 10px 10px 0;
  width: 34px;
  height: 34px;
  overflow:hidden;
  display: block;
}

div.message-room-index-box {
  background: rgb(255,255,255);
  margin-bottom: 10px;
  display: block;
  height: 54px;
}

div.message-room-user-photo {
  width: 120px;
  height: 120px;
  overflow:hidden;
  display: block;
  float: left;
}

div.message-room-user-photo img {
  width: 150px;
  height: 180px;
  margin: -10px -15px 0 0;
  display: block;
}

div.message-room-info {
  float: left;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.message-room-last-message h3 {
  font-size: 1.5em;
}

div.message-room-last-message {
  float: left;
  padding: 5px 10px 10px 10px;
  height: 70px;
}

.message-room-status-0 {
  color: gray;
}

div.dummy {
  margin-top: 100%;
}

div.hot-user-index-info h3 {
  margin-top: 4px;
  font-size: 1.5em;
}

.notification {
  background-color: rgba(0, 0, 0, 0.7);
  top: 44px;
  color:white;
  display:none;
  padding:15px;
  position:absolute;
  z-index:1;
  width: 100%;
  text-align: center;
}

.notification h2 {
  margin-bottom:7px;
}

.message-box {
  /*height: 45px;*/
}

.message-mine,.message-other {
  display: table-cell;
  margin-top: 3px;
  padding: 3px 5px 3px 5px;
  max-width: 80%;
  clear: both;
}

.message-other {
  float: left;
  margin-right: auto;
}

.message-other .message-content {
  float: left;
  background-color: #d3d3d3;

  max-width: 80%;

  margin-left: 5px;
  padding: 4px 10px 4px 15px;

  border-radius: 20px 20px 20px 0px;
  -webkit-border-radius: 20px 20px 20px 0px;
  -moz-border-radius: 20px 20px 20px 0px;
  -o-border-radius: 20px 20px 20px 0px;
  -ms-border-radius: 20px 20px 20px 0px;
}

.message-mine {
  float: right;
  margin-left: auto;
}

.message-mine .message-content {
  float: right;
  text-align: left;
  color: white;
  background-color: #4455ff;

  max-width: 80%;

  margin-right: 5px;
  padding: 4px 15px 4px 10px;

  border-radius: 20px 20px 0px 20px;
  -webkit-border-radius: 20px 20px 0px 20px;
  -moz-border-radius: 20px 20px 0px 20px;
  -o-border-radius: 20px 20px 0px 20px;
  -ms-border-radius: 20px 20px 0px 20px;
}

.message-user-profile {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}

.message-other .message-user-profile {
  float: left;
}

.message-mine .message-user-profile {
  float: right;
  vertical-align: bottom;
}

#message-input {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  width: 100%;
  /*background-color: red;*/
}

#message-input input {
  float: left;
  height: 30px;
  margin: 0;
  padding: 0;
}

#message-input input.text {
  width: auto;
  background-color: #add8e6;
  padding-left: 5px;
}

#message-input input.submit {
/*  padding-left: 0px;
  padding-right: 0px;*/
  width: 80px;
}