<h2>This is the code for the Chinchin Facebook canvas app.</h2>

<%= @signed_request.inspect %>

<% if @signed_request["page"]["liked"] %>
	<p><%= link_to "Find out more!", "/auth/facebook", class: "btn-cta" %></p>
<% else %>
	<p>Hey! Like Chinchin on Facebook!</p>
<% end %>