<h2>This is the code for the Chinchin Facebook canvas app.</h2>

<% if user_likes_page = true %>
	<p><%= link_to "Find out more!", "/auth/facebook", class: "btn-cta" %></p>
<% else %>
	<p>Hey! Like Chinchin on Facebook!</p>
<% end %>