<div class="container-10px">

  <% if message_rooms.nil? or message_rooms.size == 0 %>

      <div class="empty-data">
        <div class="empty-messages-icon"></div>
        <h1><%= t '.no_message_rooms' %></h1>
        <p><%= t '.no_message_rooms_long' %></p>
      </div> <!-- .empty-data -->

  <% else %>

      <%= render :partial => "message_rooms_rows", :locals => {:message_rooms => message_rooms} %>

  <% end %>

</div> <!-- .container-10px -->

<script>
    $(document).ready(function() {
        var info_width = document.width - 120 - 30;
        $(".message-room-info").width(info_width+'px');
    });
</script>