<% if message_rooms.nil? or message_rooms.size == 0 %>

<div class="container-10px">

<div class="empty-data">
  <div class="empty-messages-icon"></div>
  <h1><%= t '.no_message_rooms' %></h1>
  <p><%= t '.no_message_rooms_long' %></p>
  <h2><a href="https://www.facebook.com/dialog/feed?app_id=%20352455024800701&link=http://chinchinapp.com/&picture=http://chinchinapp.com/assets/fb-icon.png&name=Chinchin&caption=Where%20will%20you%20find%20your%20next%20hot%20date?&description=Chinchin%20is%20a%20social%20club%20where%20you%20can%20meet%20new%20people%20through%20your%20mutual%20friends.&redirect_uri=%20http://chinchinapp.com/" class="invite-friends">Invite Friends</a></h2>
  <!-- start Mixpanel No Message Rooms -->
  <script type="text/javascript">
    mixpanel.track("No Message Rooms");
    mixpanel.track_links('a.invite-friends', 'Invite Friends');
  </script>
  <!-- end Mixpanel No Message Rooms -->
</div> <!-- .empty-data -->

</div> <!-- .container-10px -->

<% else %>

  <%= render :partial => "message_rooms_rows", :locals => {:message_rooms => message_rooms} %>

<% end %>

<script>
    $(document).ready(function() {
        var info_width = document.width - 120 - 30;
        $(".message-room-info").width(info_width+'px');
    });
</script>