<div class="container-10px">

  <% if leaders.nil? or leaders.size == 0 %>

      <div class="empty-data">
        <div class="empty-chinchins-icon"></div>
        <h1>Hot Friends?</h1>
        <p>You can see which of your friends are most popular here.</p>
      </div> <!-- .empty-data -->

  <% else %>

      <%= render :partial => "leader_rows", :locals => {:leaders => leaders} %>

  <% end %>

</div> <!-- .container-10px -->

<script type="text/javascript">
    $(document).ready(function(){
        var info_width = document.width - 120 - 30;
        $(".user-index-info").width(info_width+'px');
    });
</script>
