<% leaders.each do |leader| %>
  <div class="hot-user-photo">
    <%= image_tag ( leader[:chinchin].picture('large') ), :align => "absmiddle", :width => "34", :style => "min-width: 34px; min-height: 34px;" %>
  </div> <!-- .hot-user-photo -->
  <div class="hot-user-index-info">
    <h3><%= leader[:chinchin].first_name %><div class="total-score"><%= leader[:total_score] %> pts</div></h3>
  </div> <!-- .hot-user-index-info -->
  <div class="clear" />
<% end %>
