<div class="container-10px">

<% leaders.each do |leader| %>
	<div class="list">
		<a href="https://www.facebook.com/dialog/apprequests?%20app_id=352455024800701&%20to=<%= leader[:chinchin].uid %>&%20message=Did%20you%20know%20you're%20popular%20on%20Chinchin?&%20redirect_uri=http://chinchinapp.com" class="hot-friends-request"><%= image_tag ( leader[:chinchin].picture('large') ), :align => "absmiddle", :width => "34", :style => "min-width: 34px; min-height: 34px;" %><h2><%= leader[:chinchin].first_name %>, <%= leader[:total_score] %> pts</h2></a>
	</div><!-- .list -->
<% end %>

</div> <!-- .container-10px -->

<!-- start Mixpanel Hot Friends Request -->
<script type="text/javascript">
	mixpanel.track_links('a.hot-friends-request', 'Hot Friends Request');
</script>
<!-- end Mixpanel Hot Friends Request -->