// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fb4pp01bg {
	float: left;
	width: 810px;
	height: 620px;
	background: url(fb4pp01/bg.jpg) 0 0;
}

#fb-like-gate {
	float: left;
	margin-top: 394px;
	width: 810px;
	height: 226px;
	background: url(fb4pp01/fb-like-gate.png) 0 0;
}

#fb-start-app a {
	float: left;
	margin-top: 394px;
	width: 810px;
	height: 226px;
	text-indent: -9999px;
	background: url(fb4pp01/fb-start-app.png) 0 0;
}

#fb-start-app a:hover { background: url(fb4pp01/fb-start-app-hover.png) 0 0; }