<div class="container-10px">

<% if @likes.nil? or @likes.size == 0 %>

<div class="empty-data">
  <div class="empty-likes-icon"></div>
  <h1><%= t '.see_anyone' %></h1>
  <p><%= t '.see_anyone_long' %></p>
</div> <!-- .empty-data -->

<% else %>

  <%= render :partial => "chinchins/chinchin_rows", :locals => {:chinchins => chinchins} %>

<% end %>

</div> <!-- .container-10px -->

<script type="text/javascript">
  $(document).ready(function(){
    var info_width = document.width - 120 - 30;
    $(".row-content").width(info_width+'px');
  });
</script>