<div class="container-10px">

<% if @likes.nil? or @likes.size == 0 %>

<div class="empty-data">
  <div class="empty-likes-icon"></div>
  <h1>See Anyone You Like?</h1>
  <p>If you see someone you would like to meet, press the Like button on their profile. If they Like you back, you will be connected to each other.</p>
</div> <!-- .empty-data -->

<% else %>

  <%= render :partial => "chinchins/chinchin_rows", :locals => {:chinchins => chinchins} %>

<% end %>

</div> <!-- .container-10px -->

<script type="text/javascript">
    $(document).ready(function(){
        var info_width = document.width - 120 - 30;
        $(".user-index-info").width(info_width+'px');
    });
</script>
