<% @messages.each do |message| %>
    <div class="message-box">
        <% if message.writer == user %>
        <div class="message-mine">
            <div class="message-user-profile">
                <%= image_tag ( user.picture('large') ), :align => "absmiddle", :width => "34", :style => "min-width: 34px; min-height: 34px;" %>
            </div>
        <% else %>
        <div class="message-other">
            <div class="message-user-profile">
                <%= image_tag ( receiver.picture('large') ), :align => "absmiddle", :width => "34", :style => "min-width: 34px; min-height: 34px;" %>
            </div>
        <% end %>
            <div class="message-content">
                <%= message.content %>
            </div>
        </div>
        <div class="clear" />
    </div>
<% end %>