<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Download Chinchin</title>
</head>
<script type="text/javascript"> // <![CDATA[
//iPhone Version:
if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
    window.location = "http://bit.ly/chchios";
}
//Android Version:
if(navigator.userAgent.match(/android/i)) {
    window.location = "http://bit.ly/chchdroid";
}
 
</script>
<body>
</body>
</html>