<div class="container-10px">
	<div id="register">

		<h1>Chinchin</h1>

		<div id="register-info">
			<div class="register-description">
				<div id="register-browse-icon"></div>
				<h2>Browse</h2>
				<p>Check out the profiles of your Chinchins (friends of your friends).</p>
			</div> <!-- .register-description -->
			<div class="register-description">
			<div id="register-like-icon"></div>
				<h2>Like</h2>
				<p>If you see someone you Like, press the Like button.</p>
			</div> <!-- .register-like-icon -->
			<div class="register-description">
			<div id="register-chat-icon"></div>
				<h2>Chat</h2>
				<p>You can start chatting if you mutually Like each other.</p>
			</div> <!-- .register-chat-icon -->
		</div> <!-- #register-info -->

		<div id="cta-get-started">
			<%= link_to t('.log_in_message'), "/auth/facebook", class: "cta-btn" %>
		</div> <!-- #cta-get-started -->

	</div> <!-- #register -->
</div> <!-- .container-10px -->