<% photos.each do |photo| %>
	<div class="user-photo">
  	<%= image_tag photo.source, :align => "absmiddle", :width => "120", :style => "min-width: 120px; min-height: 120px;" %>
  </div> <!-- .user-photo -->
<% end %>
