<div data-role="panel" id="menupanel">
  <ul data-role="listview"">
    <li data-icon="false"><a href="#me"><img src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=small" align="absmiddle" /><%= current_user.name %></a></li>
    <li data-role="list-divider">Menu</li>
    <li data-icon="false"><a href="#chinchin">Browse</a></li>
    <li data-icon="false"><a href="#viewed">Viewed You</a></li>
    <li data-icon="false"><a href="#likes">Your Like</a></li>
    <li data-icon="false"><a href="#messages">Messages</a></li>
  </ul>
</div>