/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Sidetap Default Theme
Demo app: Stonehenge
*/

body {
  background: rgb(255,255,255);
  color: rgb(28,28,28);
  font-family: 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 80%;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

h1 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  font-size: 1.34em;
  font-weight: bold;
}

a {
  color: rgb(28,28,28);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.stp-nav {
  background: rgb(0,0,0);
  width: 256px;
}

nav {
  display: block;
}

nav > a {
  background: rgb(28,28,28);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  color: rgb(238,238,238);
  font-size: 2em;
  font-weight: bold;
  height: 68px;
  line-height: 68px;
  margin: 0;
  padding: 0 0 0 22px;
  text-decoration: none;
}

nav > a:after {
  display: block;
  height: 68px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  right: 0;
  top: 0;
  -webkit-background-size: 8px 17px;
  -moz-background-size: 8px 17px;
  -o-background-size: 8px 17px;
  background-size: 8px 17px;
}

nav > a.selected {
  background: rgb(218,28,88);
  color: rgb(255,255,255);
}

nav > a.selected:after {
  opacity: 1;
}

.stp-browse {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: url(icons/238-list.svg);
  background-size: 34px 34px;
}

.stp-viewed {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: url(icons/238-target.svg);
  background-size: 34px 34px;
}

.stp-likes {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: url(icons/238-heart.svg);
  background-size: 34px 34px;
}

.stp-messages {
  float: left;
  margin: 17px;
  width: 34px;
  height: 34px;
  background: url(icons/238-chat.svg);
  background-size: 34px 34px;
}

header {
  background: rgb(48,48,48);
  display: block;
  height: 44px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  text-align: center;
  width: 100%;
  z-index: 1;
}

header .header-button {
  top: 7px;
  left: 7px;
  width: 48px;
  height: 28px;
  background: rgb(28,28,28);
  border: 1px solid rgb(0,0,0);
  color: white;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

header .header-button.menu span {
  background: transparent url('/assets/menu.png') no-repeat;
  height: 15px;
  margin: 6px 2px 0;
  width: 17px;
  -webkit-background-size: 17px 15px;
  -moz-background-size: 17px 15px;
  -o-background-size: 17px 15px;
  background-size: 17px 15px;
  display: inline-block;
  text-indent: -9999px;
}

header .icon span {
  top: 10px;
  position: absolute;
  text-indent: -9999px;
}

header .right span {
  left: auto;
  right: 20px;
}

header .back span {
  background: url(icons/255-back.svg);
  left: 10px;
  width: 27px;
  height: 24px;
  background-size: 27px 24px;
  -webkit-background-size: 27px 24px;
  -moz-background-size: 27px 24px;
  -o-background-size: 27px 24px;
}

header .like span {
  background: url(icons/255-heart.svg);
  width: 26px;
  height: 24px;
  background-size: 26px 24px;
  -webkit-background-size: 26px 24px;
  -moz-background-size: 26px 24px;
  -o-background-size: 26px 24px;
}

header .liked span {
  background: url(icons/255-heart-red.svg);
  width: 26px;
  height: 24px;
  background-size: 26px 24px;
  -webkit-background-size: 26px 24px;
  -moz-background-size: 26px 24px;
  -o-background-size: 26px 24px;
}

.stp-content {
  background: rgb(238,238,238);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.stp-content-panel {
}

.container {
  padding-top: 44px;
}

.container-10px {
  padding: 10px;
}

.container-10px-238 {
  background: rgb(238,238,238);
  padding: 10px;
}

div.loader { height: 100px; line-height: 100px;text-align:center; }

div.loader img { vertical-align:middle;}

div.user-index-box {
  background: rgb(255,255,255);
  margin-bottom: 10px;
  display: block;
  height: 120px;
}

div.clear {
  clear: left;
}

div.user-photo {
  width: 120px;
  height: 120px;
  overflow:hidden;
  display: block;
  float: left;
}

div.user-photo img {
  width: 150px;
  height: 180px;
  margin: -10px -15px 0 0;
  display: block;
}

div.user-photo-large {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

div.dummy {
  margin-top: 100%;
}

div.user-photo-large img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.user-index-info {
  float: left;
}

div.user-index-basic-info {
  float: left;
  padding: 10px;
  height: 70px;
}

div.user-index-basic-info h3 {
  font-size: 1.5em;
}

div.right-arrow {
  background: transparent url('/assets/arrow-right-gray.png') no-repeat left center;
  float: right;
  height: 41px;
  position: relative;
  top: 30px;
  right: 0px;
  width: 19px;
  -webkit-background-size: 19px 14px;
  -moz-background-size: 19px 14px;
  -o-background-size: 19px 14px;
  background-size: 19px 14px;
}

div.user-index-additional-info {
  border-top: 1px solid #eee;
  clear: both;
  height: 20px;
  padding: 5px 0 5px 10px;
}

div.profile-user-age {
  line-height: 54px;
  border-bottom: 1px solid rgb(238,238,238);
}

div.user-age-icon {
  float: left;
  margin: 10px;
  width: 34px;
  height: 34px;
  background: url(icons/48-calendar.svg);
  background-size: 34px 34px;
}

div.profile-user-location {
  line-height: 54px;
  border-bottom: 1px solid rgb(238,238,238);
}

div.user-location-icon {
  float: left;
  margin: 10px;
  width: 34px;
  height: 34px;
  background: url(icons/48-pin.svg);
  background-size: 34px 34px;
}

div.profile-user-employer {
  line-height: 54px;
  border-bottom: 1px solid rgb(238,238,238);
}

div.user-employer-icon {
  float: left;
  margin: 10px;
  width: 34px;
  height: 34px;
  background: url(icons/48-company.svg);
  background-size: 34px 34px;
}

div.profile-user-school {
  line-height: 54px;
  border-bottom: 1px solid rgb(238,238,238);
}

div.user-school-icon {
  float: left;
  margin: 10px;
  width: 34px;
  height: 34px;
  background: url(icons/48-book.svg);
  background-size: 34px 34px;
}

.notification {
  background-color: rgba(0, 0, 0, 0.7);
  top: 44px;
  color:white;
  display:none;
  padding:15px;
  position:absolute;
  z-index:1;
  width: 100%;
  text-align: center;
}

.notification h2 {
  margin-bottom:7px;
}

.container-profile-photos {
  margin-right: 2px;
}

div.user-profile-photo {
  float: left;
  margin: 2px 0 0 2px;
  width: 104px;
  height: 104px;
  overflow:hidden;
  display: block;
}

div.profile-friends {
  clear: both;
}

.tabs li {
  list-style:none;
  display:inline;
}

.tabs a {
  padding:5px 10px;
  display:inline-block;
  background:#666;
  color:#fff;
  text-decoration:none;
}

.tabs a.active {
  background:#fff;
  color:#000;
}