<% if chinchins.nil? or chinchins.size == 0 %>

<div class="container-10px">

<div class="empty-data">
  <div class="empty-chinchins-icon"></div>
  <h1><%= t '.no_chinchins' %></h1>
  <p><%= t '.no_chinchins_long' %></p>
  <h2><a href="https://www.facebook.com/dialog/feed?app_id=%20352455024800701&link=http://chinchinapp.com/&picture=http://chinchinapp.com/assets/fb-icon.png&name=Chinchin&caption=Where%20will%20you%20find%20your%20next%20hot%20date?&description=Chinchin%20is%20a%20social%20club%20where%20you%20can%20meet%20new%20people%20through%20your%20mutual%20friends.&redirect_uri=%20http://chinchinapp.com/" class="invite-friends">Invite Friends</a></h2>
  <!-- start Mixpanel No Chinchins -->
  <script type="text/javascript">
    mixpanel.track("No Chinchins");
    mixpanel.people.set({
      "$chinchins": "no"
    });
    mixpanel.track_links('a.invite-friends', 'Invite Friends');
    mixpanel.register({"Chinchins": "no"});
  </script>
  <!-- end Mixpanel No Chinchins -->
</div> <!-- .empty-data -->

</div> <!-- .container-10px -->

<% else %>
  <%= render :partial => "chinchin_card", :locals => {:chinchins => chinchins} %>
  <script>
      mixpanel.track("With Chinchins");
      mixpanel.register({"Chinchins": "yes"});
  </script>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var info_width = document.width - 120 - 30;
    $(".user-index-info").width(info_width+'px');

//    if (isMobile.iOS()) {
    <!--<%# if @user.device_token.nil? %>-->
//        document.location = "chinchinapp://local/send_device_token/";
    <!--<%# end %>-->
//    } else if (isMobile.Android()) {
//        document.location = "chinchinapp://local/send_apid/";
//    }

  });
</script>