<ul id="chinchin_dialog_friends_list">
<% mutual_friends.each do |friend| %>
	<li class="friend_row">
		<span class="checkbox vertical-middle">
			<input class="big-checkbox" id="checkbox_<%=friend.id%>" type="checkbox" name="alert_friend" value="<%=friend.id%>" />
		</span>
		<span class="profile_photo"><img class="friend_list" src="<%= friend.picture %>" /></span>
		<span class="friend_name vertical-middle"><%= friend.name %></span>
	</li>
<% end %>
</ul>
<div class="clear" />