<div class="sidetap">
  <div class="stp-nav">
    <div>
      <nav>
        <div class="stp-browse"></div><a href="#" class="selected">Browse</a>
        <div class="stp-viewed"></div><a href="#">Viewed You</a>
        <div class="stp-likes"></div><a href="#">Your Likes</a>
        <div class="stp-messages"></div><a href="#">Messages</a>
      </nav>
    </div>
  </div>

  <div class="stp-content" id="content">
    <header class="stp-fake-header">&nbsp;</header>
    <div class="stp-overlay nav-toggle">&nbsp;</div>

    <!-- Content Divs Look Like This -->
    <div class="stp-content-panel" id="browse">
      <header>
        <a href="javascript:void(0)" class="header-button icon menu"><span>Menu</span></a>
        <h1>Chinchin</h1>
      </header>
      <div class="stp-content-frame">
        <div class="stp-content-body">
          <div class="container">
          </div>
        </div>
      </div>
    </div>
    <!-- End content Div -->

    <div class="stp-content-panel hidden" id="chinchin">
      <header>
        <a href="javascript:void(0)" class="icon back"><span>Back</span></a>
        <h1></h1>
        <a href="javascript:void(0)" class="icon like right"><span>Like</span></a>
      </header>
      <div class="stp-content-frame">
        <div class="stp-content-body">
          <div class="container">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>