<!DOCTYPE html>
<html>
<head>
  <title>Underconstruction</title>
  <meta property="og:description" name="description" content="Chinchin aims to transform the most important industry in the world... introducing men and women so the human race continues to dominate the face of the earth for years to come.">
  <meta name="author" content="Victor Ching">
  <meta property="og:title" content="Chinchin" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://chinchinapp.com" />
  <meta property="og:image" content="http://chinchinapp.com/assets/fb-icon.png" />
  <meta property="og:site_name" content="Chinchin" />
  <meta property="fb:admins" content="500912461" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <style>
  body {
    text-align: center;
    background-color: rgb(218,28,88);
  }

  #container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  #under_construction_logo {
    width: 300px;
    height: 300px;
    margin: auto;
    background: url('/assets/icons/255-refresh.svg');
    background-size: 300px 300px;
    -webkit-background-size: 300px 300px;
    -moz-background-size: 300px 300px;
    -o-background-size: 300px 300px;
  }

  #under_construction_message {
    margin: auto;
    width: 300px;
    color: white;
    line-height: 1.2em;
    font-size: 1.5em;
  }
  </style>
</head>
<body>
  <div id="container">
    <div id="under_construction_logo">
    </div>
    <div id="under_construction_message">
      <p><strong>We'll be back soon!</strong></p><p>We're making chinchin better.</p>
    </div>
  </div>
</body>
</html>