<html lang=ko>
<head>
	<script type="text/javascript" src="/assets/d3.v3.js"></script>
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<style>
	body {
		font: 10px sans-serif;
	}

	svg .title {
		font-size: 1.2em;
		font-weight: bold;
	}

	.container {
		float: left;
		margin-left: 20px;
		margin-top: 20px;
		padding-right: 100px;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.x.axis path {
	  display: none;
	}

	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}
	</style>
	<script>
	$(document).ready(function() {
		$('#from').datepicker({
			defaultDate: "2013-01-01",
			changeMonth: true,
			numberOfMonths: 3,
			onClose: function(selectedDate) {
				$("#to").datepicker("option", "minDate", selectedDate);
			}
		});
		$('#from').datepicker("option", "dateFormat", "yy-mm-dd");
		$('#to').datepicker({
			defaultDate: new Date(),
			changeMonth: true,
			numberOfMonths: 3,
			onClose: function(selectedDate) {
				$("#from").datepicker("option", "maxDate", selectedDate);
			}
		});
		$('#to').datepicker("option", "dateFormat", "yy-mm-dd");

		$("#redraw").click(function() {
			$('svg').remove();
			getDataAndDraw($('#from').val(), $('#to').val());
		});
		$('#from').val('2013-01-01');
		var d = new Date();
	    var curr_date = d.getDate();
	    var curr_month = d.getMonth() + 1;
	    var curr_year = d.getFullYear();
		$('#to').val(curr_year + "-" +curr_month + "-" + curr_date);
		from = $('#from').val() == "" ? "2013-01-01" : $('#from').val();
		getDataAndDraw(from, $('#to').val());
	})
	</script>
</head>
<body>
	<div id="controls">
		From: <input type="text" id="from" value="2013-01-01" />
		To: <input type="text" id="to" value="" />
		<button id="redraw">Redraw Chars</button>
		<a id="downloadButton" href="/reports/csv" class="button tiny success" download="chinchin_report.csv" onclick="exportCSV();">Export to csv</a>
	</div>
	<script type="text/javascript">
	var parseDate = d3.time.format("%Y-%m-%d").parse;
	var color = d3.scale.category10();

  var drawMultiLineGraph = function(data, title, domain, width, height) {
		var margin = {top: 20, right: 20, bottom: 30, left: 50};
	  width = width - margin.left - margin.right;
	  height = height - margin.top - margin.bottom;

		var x = d3.time.scale()
		    .range([0, width]);

		var y = d3.scale.linear()
		    .range([height, 0]);

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom");

		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left");

		var line = d3.svg.line()
			.interpolate("basis")
	    .x(function(d) { return x(d.key); })
	    .y(function(d) { return y(d.count); });

		var svg = d3.select("body").append("svg")
			.attr("class", "container")
    	.attr("width", width + margin.left + margin.right)
    	.attr("height", height + margin.top + margin.bottom)
  		.append("g")
    	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		svg.append("text")
			.attr("class", "title")
			.attr("dx", function(d) { return 10; })
			.attr("dy", function(d) { return -10; })
			.text(''+title);

		color.domain(domain);

  	var heads = color.domain().map(function(name) {
			var prev_value = 0;
			return {
				name: name,
				values: data.map(function(d) {
					// var current_value = prev_value + d.value[name];
					// prev_value = current_value;
					var current_value = d.value[name];
					return {key: d.key, count: current_value};
				})
			};
		});

		x.domain(d3.extent(data, function(d) { return d.key; }));

		y.domain([
			d3.min(heads, function(h) { return d3.min(h.values, function(v) { return v.count; })}),
			d3.max(heads, function(h) { return d3.max(h.values, function(v) { return v.count; })})
			]);
  
    svg.append("g")
	        .attr("class", "x axis")
	        .attr("transform", "translate(0," + height + ")")
	        .call(xAxis);

    svg.append("g")
	        .attr("class", "y axis")
	        .call(yAxis)
	      	.append("text")
	        .attr("transform", "rotate(-90)")
	        .attr("y", 6)
	        .attr("dy", ".71em")
	        .style("text-anchor", "end")

		var head = svg.selectAll(".head")
			.data(heads)
			.enter().append("g")
			.attr("class", "city")

		head.append("path")
			.attr("class", "line")
			.attr("d", function(d) { return line(d.values); })
			.style("stroke", function(d) { return color(d.name); });

		// head.append("text")
  //   	.datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
  //   	.attr("transform", function(d) { return "translate(" + x(d.value.key) + "," + y(d.value.count) + ")"; })
  //   	.attr("x", 3)
  //   	.attr("dy", ".35em")
  //   	.text(function(d) { return d.name; });
  }

  var drawDashboard = function(data) {
  	data = d3.entries(data);
		data = data.sort(function(a, b) {
			return d3.ascending(a.key, b.key);
		});

		data.forEach(function(d) {
			d.key = parseDate(d.key);
		});

		drawMultiLineGraph(data, 'Users', ["male_users", "female_users"], 500, 250);
		drawMultiLineGraph(data, 'Chinchins', ["male_chinchins", "female_chinchins"], 500, 250);
		drawMultiLineGraph(data, 'Likes', ["likes_from_male", "likes_from_female"], 500, 250);
		drawMultiLineGraph(data, 'Uniq Liked Users', ["uniq_male_liked", "uniq_female_liked"], 500, 250);
		drawMultiLineGraph(data, 'Chinchin Count', 
			["no_chinchins_male", "no_chinchins_female", 
			"one_chinchin_male", "one_chinchin_female", 
			"two_chinchins_male", "two_chinchins_female", 
			"three_more_chinchins_male", "three_more_chinchins_female"], 500, 250);
		drawMultiLineGraph(data, 'Total Uniq Liked Users', ["total_uniq_male_liked", "total_uniq_female_liked"], 500, 250);
        drawMultiLineGraph(data, 'Total Mutual Likes', ["total_mutual_likes"], 500, 250);
  }
   
  var gdata;
  
  var getDataAndDraw = function(started_at, ended_at) {
		var url = '/reports/'+started_at+'/'+ended_at+'/';
		// var url = '/reports/2013-04-01/2013-07-12/';
		d3.json(url, function(error, data) {
			gdata = data;
	    	drawDashboard(gdata);	
		});
  }
	</script>
</body>
</html>