<footer>

	<div class="divider-thick"></div>
	<h3>Thanks for looking. We'd love to stay in touch!</h3>
	<div class="divider-thin"></div>

	<div class="box">
		<p>Check out our blog:<br />
		<a href="http://blog.chinchinapp.com">blog.chinchinapp.com »</a></p>
	</div> <!-- .footer-box -->
	<div class="box">
		<p>Find us on social networks:<br />
		<a href="http://facebook.com/chinchinapp">Facebook »</a><br />
		<a href="http://twitter.com/chinchinapp">Twitter »</a></p>
	</div> <!-- .footer-box -->
	<div class="box">
		<p>General inquiries, contact:<br />
		<a href="mailto:victor@chinchinapp.com">victor@chinchinapp.com »</a></p>
	</div> <!-- .footer-box -->
	<div class="box">
		<p>Careers, send portfolio to:<br />
		<a href="mailto:jobs@chinchinapp.com">jobs@chinchinapp.com »</a></p>
	</div> <!-- .footer-box -->
	<div class="divider-thin"></div>
	<small>© 2012. Chinchin. All rights reserved.</small>

</footer>

</div> <!-- .container-fluid -->